PORT=3000

MONGO_URL="mongodb://mongo-user:123456@localhost:27017/"
MONGO_DB_NAME=mystores
JWT_SEED="unsemillabettyrjc"
SEND_EMAIL=false
MAILER_SERVICE=gmail
MAILER_EMAIL=bettyrjce@gmail.com
MAILER_SECRET_KEY=vikr wuaa grdn kmej
WEBSERVICE_URL=https://0dd2-2a07-c6c0-36-1000-00-9ef1.ngrok-free.app/api